/*<uid>2276</uid> <timestamp>1.6492.6553.4587</timestamp> <date>Wed Apr 06 2022 12:18:54 GMT-0500 (Central Daylight Time)</date>*/

sup {
    vertical-align: text-top;
    font-size: 0.6em;
    line-height: 1.5em;
    display: inline-block;
}

#text1,
#text1a,
#text1b,
#text1c,
#text1d,
#text2,
#text2a,
#text2b,
#text2c,
#text2d,
#text2e,
#text3,
#text3a,
#text3b,
#text3c,
#text3d,
#text4,
#text4a,
#text4b,
#text4c {
    font-family: 'EB Garamond', serif;
    left: 10px;
    white-space: nowrap;
    font-size: 15px;
    line-height: 44px;
    font-weight: 500;
}

#text1,
#text1a {
    top: -4px;
    left: 86px;
}

#text1a {
    top: 13px;
}

#text1b {
    top: 210px;
    left: 26px;
}

#text1c {
    top: 220px;
    left: 26px;
}

#text1d {
    top: 250px;
    left: 26px;
}

#text2,
#text2a,
#text2b,
#text2c,
#text2d,
#text2e {
    top: -5px;
    left: 89px;
    font-size: 14px;
    /* line-height: 1.2em; */
    /* letter-spacing: -0.1px; */
}

#text2a {
    top: 9px;
}

#text2b {
    top: 316px;
}

#text2c {
    top: 163px;
}

#text2d {
    top: 191px;
}

#text2e {
    top: 219px;
}

#text3,
#text3a,
#text3b,
#text3c,
#text3d {
    top: -3px;
    left: 85px;
    font-size: 8.5px;
    letter-spacing: -0.1px;
}

#text3a {
    top: 80px;
}

#text3b {
    top: 11px;
    left: 139px;
}

#text3c {
    top: 338px;
}

#text3d {
    top: 154px;
}

#text4,
#text4a,
#text4b,
#text4c {
    font-size: 22px;
    letter-spacing: -0.1px;
    top: 49px;
    left: 26px;
}

#text4a {
    top: 77px
}

#text4b {
    top: 105px;
}

#text4c {
    top: 133px;
}

#HandWritten_CTC {
    top: -39px;
    left: 82px;
    transform: scale(1);
    opacity: 0;
    width: 200px;
}

.textReveal {
    fill: none;
    stroke: #D91E49;
    stroke-miterlimit: 15;
    stroke-linecap: round;
}

#line1holder {
    width: 300px;
    height: 50px;
    top: 0px;
    left: 0px;
}

#line1pathholder {
    width: 86px;
    height: 171.6px;
    top: -7px;
    left: 223px;
    transform: rotate(-1deg);
}

#line1cover {
    background-image: url(ribbon1.svg);
    width: 300px;
    height: 50px;
    top: 0px;
    left: 0px;
}

.cls-1 {
    fill: none;
    fill-rule: evenodd;
    stroke: #d9204a;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 10px;
}

.cls-2 {
    fill: none;
    fill-rule: evenodd;
    stroke: #d9204a;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 10px;
}

#line2holder {
    width: 300px;
    height: 50px;
    top: 0px;
    left: 0px;
}

#line2pathholder {
    width: 59px;
    height: 525px;
    top: -11px;
    right: -41px;
    transform: rotate(-4deg);

}

#line2cover {
    background-image: url(ribbon1-2.svg);
    width: 300px;
    height: 50px;
    top: 0px;
    left: 0px;
}

#line3holder {
    width: 300px;
    height: 50px;
    top: 0px;
    left: 0px;
}

#line3pathholder {
    width: 260px;
    height: 193px;
    top: -7px;
    left: 214px;
    transform: rotate(1deg);
    /* visibility: hidden; */
}

#line3cover {
    background-image: url("ribbon-2.svg");
    width: 300px;
    height: 50px;
    top: 0px;
    left: 0px;
}

#line4holder {
    width: 300px;
    height: 50px;
    top: 0px;
    left: 0px;
}

#line4pathholder {
    width: 300px;
    height: 250px;
    top: -25px;
    left: 68px;
    transform: rotate(-5deg);
    /*    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg);*/
}

#line4cover {
    background-image: url("ribbon-3.svg");
    width: 300px;
    height: 50px;
    top: 0px;
    left: 0px;
    /*  transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -ms-transform: rotate(90deg); 
    -o-transform: rotate(90deg);*/
}

#logo,
#logo2,
#logo3 {
    background: url(logo.svg);
    width: 192px;
    height: 48px;
    left: 9px;
    bottom: -7px;
    background-size: 36%;
}

/*#ctaHolder {
    background: #D91E49;

  width: 180px;
    height: 41px;
 left: 26px;
    bottom: 43px;
    cursor: pointer;
    color: #ffffff;
	
}*/

#btn_action {
    line-height: 11px;
    padding: 11px 4px;
    font-size: 11px;
    font-weight: bold;
    font-family: "Arial" !important;
    text-align: center !important;
    opacity: 1;
    background: #D91E49;
    width: 80px;
    height: 8px;
    bottom: 12px;
    cursor: pointer;
    color: #ffffff;
    right: 5px;
}

#footnote {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    top: -1009px;
    left: 32px;
    position: absolute;
    white-space: normal;
}

#footnote {
    font-size: 4px;
    text-align: left;
    left: 4px;
    top: 44px;
    font-weight: 400;    
    letter-spacing: -0.1px;
}

#line5holder {
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
}

#line5pathholder {
    width: 567px;
    height: 171.6px;
    top: -102px;
    left: -96px;
    transform: rotate(-180deg);
	opacity: 0;
}

#line5cover {
    background-image: url(ribbon-4.svg);
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
}

#line6holder {
    width: 300px;
    height: 250px;
    top: -5px;
    left: 0px;
}

#line6pathholder {
    width: 409px;
    height: 385px;
    top: -175px;
    left: 606px;
    transform: rotate(-70deg);
	opacity: 0
}

#line6cover {
    background-image: url(ribbon-4-2.svg);
    width: 300px;
    height: 250px;
    top: 5px;
    left: 393px;
}
